<!-- Forma za izmjenu informacija o stavki -->

<div ng-if="sc.ulogovaniKorisnik.uloga === 'admin'">
    <hr>
    <form ng-submit="sc.izmeniArtiklu()">
        <div class="form-group">
            <label for="naziv">Naziv</label>
            <input type="text" class="form-control" id="naziv" ng-model="sc.artikal.naziv" required>
        </div>
        <div class="form-group">
            <label for="kolicina">Kolicina</label>
            <input type="number" class="form-control" id="kolicina" ng-model="sc.artikal.kolicina" required>
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <input type="text" class="form-control" id="opis" ng-model="sc.artikal.opis" required>
        </div>
        <input type="submit" value="Izmeni" class="btn btn-primary">
    </form>
</div>

<!-- Forma za prikaz informacija o stavci -->

<hr>
<div ng-if="sc.artikal" class="mt-3">
    <ul>
        <p>Podaci:</p>
        <li>Naziv: {{sc.kopijaArtikla.naziv}}</li>
        <li>Kolicina: {{sc.kopijaArtikla.kolicina}}</li>
        <li>Opis: {{sc.kopijaArtikla.opis}}</li>
    </ul>

    <a ui-sref="home" ui-sref-active="active" class="btn btn-primary">Nazad</a>
</div>